<ng-container class="p-4">
  <h1>Listes des hotels</h1>
</ng-container>

<button
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  class="btn btn-dark"
  (click)="reset()"
>
  Ajouter un hotel
</button>

<table class="table table-striped" *ngIf="hotels.length > 0">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom complet</th>
      <th>étoiles</th>
      <th>Email</th>
      <th>Adresse</th>
      <th>Téléphone</th>
      <th>Ville</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let hotel of hotels">
      <td>{{ hotel.id }}</td>
      <td>{{ hotel.nom }}</td>
      <td>{{ hotel.etoiles }}</td>
      <td>{{ hotel.email }}</td>
      <td>{{ hotel.adresse }}</td>
      <td>{{ hotel.telephone }}</td>
      <td>{{ hotel.ville }}</td>
      <td>
        <a
          class="btn btn-secondary btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="editHotel(hotel.id)"
          ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
        ></a>
        <button class="btn btn-danger btn-sm ms-3">
          <i
            class="fa fa-trash-o"
            aria-hidden="true"
            (click)="delete(hotel.id)"
          ></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="exampleModalLabel"
          *ngIf="hotel.id == undefined"
        >
          Ajouter un hotel
        </h5>
        <h5
          class="modal-title"
          id="exampleModalLabel"
          *ngIf="hotel.id != undefined"
        >
          Editer un hotel
        </h5>

        <button
          type="button"
          #closebutton
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form ngNativeValidate (submit)="submitHotel()">
        <div class="modal-body">
          <div class="alert alert-danger" *ngIf="errorMessage.length > 0">
            {{ errorMessage }}
          </div>
          <div class="form-line mb-4">
            <label class="form-label">Nom *</label>
            <input
              class="form-control"
              minlength="2"
              type="text"
              name="nomComplet"
              placeholder="NomComplet"
              [(ngModel)]="hotel.nom"
              required
            />
          </div>
          <div class="form-line mb-4">
            <label class="form-label">Etoiles *</label>
            <input
              class="form-control"
              minlength="2"
              type="number"
              min="0"
              max="6"
              name="etoiles"
              placeholder="etoiles"
              [(ngModel)]="hotel.etoiles"
              required
            />
          </div>

          <div class="form-line mb-4">
            <label>Email *</label>
            <input
              class="form-control"
              type="email"
              name="email"
              placeholder="Email"
              [(ngModel)]="hotel.email"
              required
            />
          </div>

          <div class="form-line mb-4">
            <label>Téléphone *</label>
            <input
              class="form-control"
              type="tel"
              name="telephone"
              placeholder="Téléphone"
              [(ngModel)]="hotel.telephone"
              required
            />
          </div>

          <div class="form-line mb-4">
            <label>Adresse *</label>
            <input
              class="form-control"
              type="text"
              name="adresse"
              placeholder="Adresse"
              [(ngModel)]="hotel.adresse"
              required
            />
          </div>
          <div class="form-line mb-4">
            <label>Ville *</label>
            <input
              class="form-control"
              type="text"
              name="ville"
              placeholder="Adresse"
              [(ngModel)]="hotel.ville"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
          <button type="button" type="submit" class="btn btn-primary">
            Valider
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
